body{
    background-image: 
    linear-gradient(
    135deg,rgb(24, 42, 115) 0%
    ,rgb(33, 138, 174) 69%
    ,rgb(32, 167, 172) 89%);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
    display: flex;
    flex-flow: row;
    justify-content: center;
width: 100%;
height: 95%;
flex-wrap: wrap;


}
.container div {
  
    width: 45%;
    border: 1px solid black;
    /* height: 100%; */
    border-radius: 10px;
    box-shadow: 4px 4px 5px 2px rgba(0, 0, 0, 0.308);
    margin-left: 30px;
   padding-bottom: 10px;
   display: flex;
   flex-flow: column;
   align-items: center;
   justify-content: center;
}
@media only screen and (max-width: 600px) {
    .container div {
  
        width: 100%;
        border: 1px solid black;
        height: 100%;
        margin-left: 0px;
      
    }

    .m-t-l{
        margin-top: 50px;
    }
     img {
        margin: auto;
        /* height: 95%; */
        width: 95%;
         }
}
h2 {
    text-align: center;
   color: rgb(255, 253, 253);
}
 img {

/* height: 95%; */
width: 95%;
 }
